*.pyo
plugin.video.matrix/resources/hosters/lien_direct.py
plugin.video.matrix/resources/lib/gui/guiElement.py
plugin.video.matrix/resources/hosters/vidbom.py
plugin.video.matrix/resources/hosters/vidbom.py
*.pyc
*.pyc
*.pyc

D:\desktop\github\zombi-addons\ plugin.video.matrix-6.4.5.zip