# Ignore compiled Python files
*.pyc
*.pyo

# Ignore specific plugin files
plugin.video.matrix/resources/hosters/lien_direct.py
#vplugin.video.matrix/resources/hosters/vidbom.py
plugin.video.matrix/resources/lib/gui/guiElement.py

# Ignore specific zip files
zombi-addons/plugin.video.matrix-6.4.6.zip
